// ======================================================
// Block Styles
// ============
.block_standard_page_detail {
    $block: &;
    margin: 0 auto;

    // TOC
   	div.toc {
   		> ul { display: none; }
   	}
	
	// Why this? Comments for tricky overrides would be nice :-) 
    .link_alternative {
		margin-right: 20px;

		& + .link_alternative{
			margin-left: 0px;
		}
	}

	// Resetting the container padding if it's already inside a container element
	.container & {
		@include breakpoint( medium down ) {
			padding-left: 0;
			padding-right: 0;	
		}
	}
	
	// Reset for floating elements
	&:after {
		content: '';
		clear: both;
		display: block;
	}

	// Buttons styles
	.button {
		margin-bottom: $global-margin-bottom;
	}
}

.standard-page-module,
.js_init--block_standard_page_detail {
	section.main_container:not(.main_container--with-sidebar) {
		.block_standard_page_detail {
			.block_layers {
				max-width: 924px;
				margin-left: auto;
				margin-right: auto;
			}
		}
	}
}