<% var block = options.block %>
<%- block._editable %>

<div class="block_home_banner" <% if(block.image) { %>style="background-image: url('<%- plugins.imgix(block.image, { q: 60, w: 1000, auto: 'format' }) %>');"<% } %>>
	<% if(block.video_url) { %>
		<iframe src="<%= block.video_url %><% if(block.video_url.indexOf('vimeo')) { %>?background=1&autoplay=1&loop=1&byline=0&title=0<% } %><% if(block.video_url.indexOf('youtu')) { %>?controls=0&showinfo=0&rel=0&autoplay=1&loop=1<% } %>"></iframe>
	<% } else if(block.video_file) { %>
		<video autoplay muted loop preload="yes">
			<source src="//a.storyblok.com/f/54430/x/cf8180563b/banner.mp4" type="video/mp4">
		</video>
	<% } %>
	<div class="container block_home_banner__container">
		<h1 class="block_home_banner__heading"><%- block.heading %></h1>
		<p class="block_home_banner__description"><%- plugins.richText(block.description) %></p>
		<% if(block.links && block.links.length) { %>		
			<div class="block_home_banner__links">
				<%- plugins.simpleLink(block.links, 'button') %>
			</div>
		<% } %>
	</div>
</div>